  <h3>All Sightings:</h3>
    #if($Sighting.allByAnimal($animal.getId()).size() == 0)
      <p>none</p>
    #end
    #foreach($sighting in $sighting.allByAnimal($animal.getId()))
      <p>Location: $sighting.getLocation(), Ranger: $sighting.getRangerName() $sighting.getTimestamp()</p>
    #end
  </div>
</div>
