<img class="main-image jumbotron" src="/images/wildlife.jpg" alt="header">

<h1>Wildlife Tracker</h1>
<a class="btn btn-success" href="/animals">Add Animal</a>
<a class="btn btn-success" href="/endangered/new">Add an Endangered Animal</a>
<a class="btn btn-success" href="/sightings/new">Report New Sighting</a>
